<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="shortcut icon"  href="http://www.iconj.com/ico/s/4/s4mcsnn1ns.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zahnarztpraxis</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77030020-1', 'auto');
  ga('send', 'pageview');

</script>

<script>

$(document).ready(function(){
  $('a[href*=#]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname) {
      var $target = $(this.hash);
      $target = $target.length && $target
      || $('[name=' + this.hash.slice(1) +']');
      if ($target.length) {
        var targetOffset = $target.offset().top;
        $('html,body')
        .animate({scrollTop: targetOffset}, 250);
       return false;
      }
    }
  });
});

</script>



</head>

<body>
    <a id="top"></a>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=#top class="navbar-brand" >Zahnarztpraxis Albert Kerner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#beschreibung">Beschreibung</a>
                    </li>
                    <li>
                        <a href="#anfahrt">Anfahrt</a>
                    </li>
                    <li>
                        <a href="#offnungszeiten">Öffnungszeiten</a>
                    </li>
                    <li>
                        <a href=#offnungszeiten>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tel: 0221 36 39 38</a>
                    </li>
                    <li>
                        <a href=#anfahrt>&nbsp; &nbsp; &nbsp;Höninger Weg 206, 50969 Köln</a>
                    </li>

                    <li>
                        <a></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Zahnarztpraxis</h1>
                <h2>Albert Kerner</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">


        <!-- First Featurette -->
        <div class="featurette" id="beschreibung">

        <hr class="featurette-divider">

            <img  class="featurette-image img-circle img-responsive pull-right" src="http://picload.org/image/igcawlo/teeth1.jpg" alt="" >
            <h2 class="featurette-heading">Sie wollen selbstbewusst lächeln?
                <span class="text-muted">Machen sie einen Termin aus.</span>
            </h2>
            <p class="lead">Lächeln macht sofort glücklich, unabhängig davon, ob wir wirklich einen Grund zur Freude haben. Das fand unter anderem der französische Psychologe Robert Soussignan in einer Studie im Jahr 2002 heraus. Wir helfen Ihnen ein gesundes Lächeln auf die Lippen zu zaubern. Nur das wir nicht zaubern müssen.</p>
        </div>



   <!-- Second Featurette2 -->
   <div class="featurette" id="anfahrt">


	<hr class="featurette-divider">


	<!-- <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500"> -->
		<div  class="featurette-image img-circle img-responsive pull-left">
            <div style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
			<iframe class="featurette-image pull-left" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2515.7144247256942!2d6.941379000000001!3d50.910500000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf24609e9f83f1%3A0x52ef75cec0e882c5!2sZahnarztpraxis+Albert+Kerner!5e0!3m2!1sde!2sde!4v1427744522827" width="500" height="500" frameborder="0" style="border:0"></iframe>
            </div>
    </div>
            <h2 class="featurette-heading">Nur ein paar Schritte von Ihnen entfernt.
                <span class="text-muted">Ganz in Ihrer Nähe.</span>
            </h2>
            <p class="lead">Unsere Praxis am <span class="text-muted">Höninger Weg 206, 50969 Köln</span> ist leicht zu erreichen, da die <span class="text-muted">Bahnhaltestelle Gottesweg</span> keine 50m von unserer Haustür entfernt ist. Der Routenplaner hilft Ihnen die Adresse im Handumdrehen zu finden.</p>
        </div>

        <hr class="featurette-divider">


        <!-- Third Featurette -->
        <div class="featurette" id="offnungszeiten">
		<img class="featurette-image img-circle img-responsive pull-right" src="http://picload.org/image/igcawlc/teeth2.jpg" alt="">
	<div  class="featurette-image img-circle img-responsive pull-left">
</div>
            <h2 class="featurette-heading">Gerne begrüßen wir Sie in unserer Praxis.
                <span class="text-muted"></span>
            </h2>
            <br>
            <p class="lead">So lauten unsere Öffnungszeiten:</p>


            <table border=2 width=50% cellspacing=5 cellpadding=8 cols=2>
<tr><td align=center>Montag</td><td align=center>8.00 - 14.00</td>
<tr><td align=center>Dienstag</td><td align=center>14.00 - 20.00</td>
<tr><td align=center>Mittwoch</td><td align=center>8.00 - 14.00</td>
<tr><td align=center>Donnerstag</td><td align=center>14.00 - 20.00</td>
<tr><td align=center>Freitag</td><td align=center>8.00 - 14.00</td>

</table>
<br>
<p class="lead">Zu diesen Zeiten sind wir unter <span class="text-muted">0221 36 39 38</span> zu erreichen.<br>Bei Fragen können sie uns unter <span class="text-muted">stomatologe@live.de</span> gerne eine<br>E-Mail senden. <br>Urlaubshinweis: 11.07.16 - 29.07.16 <br>Unsere Vertretung:<br>Darius Daszynski, Telefon: <span class="text-muted">0221 361996</span> <br>Joanna Kwiatkowska, Telefon: <span class="text-muted">0221 364792</span></p>
        </div>

        <hr class="featurette-divider">



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Albert Kerner 2016 &nbsp; &nbsp; &nbsp; Images &copy; sxc.hu</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



</body>

</html>
